---
layout: default
---
<div class="home">

{% for page in site.pages %}
  {% if page.frontpage %}
    <div class="hero demospace">
        {{ page.content }}
    </div>
  {% endif %}
{% endfor %}

    {{ content }}
  
    <br clear="all" />
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
 
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {% if page.showall == true %}
            {{ post.content }}
          {% else %}
            {{ post.excerpt }}
            
            {% if post.content != post.excerpt %}
              <a style="float: left" href="{{ post.url | relative_url }}">...</a>
            {% endif %}

              {% if disqus.show_home == true %}
                {% if post.hide_comments != false %}
                  <a class="post-meta commentcount" href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Comments</a>
                {% endif %}
              {% endif %}
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>